<footer class="footer">
  <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: #afce53;">
      <div class="container">
      <div class="row">
        <div id="footer-contact"  class="col-md-4">
          <header>
              <h3>Contact</h3>
          </header>
          <dl class="row">
            <dt class="col-sm-3" >
              <a href="https://goo.gl/maps/wgporTiE8tF2" class="octicon octicon-location">
              </a>
            </dt>
            <dd  class="col-sm-9">
              {{site.address.line1}}<br>{{site.address.line2}}
            </dd>
            <dt class="col-sm-3">Tel.</dt>
            <dd class="col-sm-9">{{site.phone}}</dd>  
            <dt class="col-sm-3"><span class="octicon octicon-device-mobile"></span></dt>
            <dd class="col-sm-9">{{site.mobile}}</dd>  
            <dt class="col-sm-3">Fax.</dt>
            <dd class="col-sm-9" >{{site.fax}}</dd>  
            <dt class="col-sm-3"><span class="octicon octicon-mail"></span></dt>
            <dd class="col-sm-9">{{site.email}}</dd>  
          </dl>
        </div>
      <div class="col-md-4">
        <header>
            <h3>Map</h3>
        </header>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.141270451681!2d5.085653315708712!3d49.821009979393544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea7be7d0b45305%3A0x5d6524bdb28acf2f!2sMH+%2F+Vision!5e0!3m2!1sen!2sbe!4v1493191885667" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</footer>
